
#slider {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto 20px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  width: 1000px;
  height: 400px;
  background: #ccc;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 35%;
  z-index: 100;
  display: block;
  padding: 35px 49px 0 50px;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 10px 10px 0;
}

a.control_next {
  right: 0;
  border-radius: 10px 0 0 10px;
}
